form {
    text-align: center;
}

.ag {
    width: 230px;
    height: 40px;
    border-radius: 5px;
}

.button {
    background-color: var(--color-theme);
    border-radius: 10px;
    border: var(--color-theme);
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 600;
    margin-top: 15px;
}

.info-usuario {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    margin-top: 30px;
    padding-top: 10px;
}