select {
    width: 190px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.consultar {
    background-color: var(--color-theme);
    border-radius: 5px;
    border: var(--color-theme);
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 600;
}

.card {
    box-shadow: 0px 0px 10px rgb(94, 94, 94);
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    width: 300px;
}

.ag {
    width: 270px;
    height: 40px;
    border-radius: 5px;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 30px;
    width: 500px;
    height: 60px;
    margin-top: 30px;
}


.button {
    background-color: var(--color-theme);
    border-radius: 10px;
    border: var(--color-theme);
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 600;
    margin-top: 15px;
    margin: 5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}