select {
    width: 190px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.button {
    background-color: var(--color-theme);
    border-radius: 10px;
    border: var(--color-theme);
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 600;
}

.card {
    box-shadow: 0px 0px 10px rgb(94, 94, 94);
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    width: 300px;
    margin-bottom: 50px;
}